[Unit]
Description=Polymarket Bot XRP
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/poly
ExecStart=/root/poly/venv/bin/python3 /root/poly/bot_xrp.py --live --yes --shares 5
Restart=always
RestartSec=10
StandardOutput=append:/root/poly/logs/bot_xrp.log
StandardError=append:/root/poly/logs/bot_xrp.log

[Install]
WantedBy=multi-user.target
